$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.75);
$white-3: #f3f2f0;
$black-1: #000;
$black-2: #282828;
$pink-1: #ec48a9;
$pink-2: #f466ba;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #ffdd00;
$yellow-5: #fce07f;
$blue-1: #399ffe;
$blue-2: #86e2f2;
$blue-3: #ddf2ff;
$blue-4: #55a7f3;
$green-1: rgba(18, 171, 15, 1);
$green-2: #c3d831;
$grey-1: #777777;
$red-1: #ff0000;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);